<section class='profile-info'>
  <%= image_tag(@user.avatar.to_s, class: "profile-avatar") %>

  <div class='user-details'>
    <%= form_for @user do |f| %>
      <div class="field">

        <%= f.text_field :name, placeholder: 'Name' %>
      </div>

      <div class="field">

        <%= f.text_field :email, placeholder: 'example@domain.com' %>
      </div>

      <div class="field">
        <%= f.file_field :avatar, class: 'avatar' %>
      </div>

      <%= f.submit 'Update', class: 'btn btn-primary' %>
    <% end %>
  </div>

</section>
