<header>
    <div class='container'>
        <%= image_tag('logo.png', class: 'logo' )%>
        <nav class="navibar">
            <ul class='main-nav'>
                <li>Login</li>
                <li class='signup'>Sign up</li>
            </ul>
            <ul class='social'>
               <li class='share-on'>Share on</li>
               <li><i class="fa fa-facebook-square"></i></li>
               <li></li><i class="fa fa-reddit"></i></li>
               <li><i class="fa fa-behance-square"></i></li> 
            </ul>
        </nav>
    </div>
</header>
    
<section class='relevance'>
    <div class='container'>
        <%= image_tag('logo.png', class: 'logo' ) %>
        <div class='filter'>
            <h3 class='section-title'><b>Mobile Phone Repair</b> <span class='local'>in New York, NY</span></h3>
            <div class='filter-option'>
                <span class='filter-by'>Filter by: </span>
                <%= form_tag("/", method: "get") do %>
                    <%= select_tag('filter', raw("<option>Latest</option><option>Oldest</option>"), class: 'select') %>
                    <%= submit_tag("Search", class: 'filter-submit-btn') %>
                <%  end %>
            </div>
        </div>
    </div>
</section>
