<div id='search-bar'>
  <ul>
    <li>Recent</li>
    <li>Oldest</li>
  </ul>
</div>
<section class='content'>
  <section class="places-items">
    <% @places.each_with_index do |place, index| %>
      <article class="place-item">
        <div class='place-inner'>
          <div class='img-hut'>
            <% if place.photos.length > 0 %>
              <%= image_tag(place.photos[0].picture, class: 'img-main') %>
            <% end %>
          </div>
          <div class='place-name'>
            <h3>
              <%= link_to place.name, place_path(place.id) %>
            </h3>
            <div class="place-status">
              <%= render partial: 'shared/score', locals: { place: place } %>
              <span class='range'>
                <%= dollar_range(place.range) %>
              </span>
            </div>
            <p>
              <%= place.description %>
            </p>
          </div>

        </div>

        <div class='recommend'>
          <p>
            <span>Would you recommend?</span>
            <button class='score-btn-yes' data-place-id="<%= place.id %>">Yes</button>
            <button class='score-btn-no' data-place-id="<%= place.id %>">No</button>
          </p>
        </div>
      </article>
      <% end %>
  </section>
</section>
