<!-- Hero section -->
<section class="hero">
    <div class='action-content'>
        <h1>Find Adventure</h1>
        <p>
            Bacon ipsum dolor amet brisket sausage tail ham hock,
            filet mignon rump shankle sirloin beef ribs kielbasa. 
            Filet mignon beef ribs landjaeger drumstick. Drumstick
            picanha tail kielbasa. Short ribs ham bresaola pork loin capicola.
        </p>
        <div class='action-btn'>
            <button>Sign up</button>
            <button class='learn-more'>Learn more</button>
        </div>
    </div>
</section>
<!-- Hero section -->
<div class='buffer'></div>

<!-- Places section -->
<section class="places container">
    <div class='row'>
        <section class='place-box col-md-8'>
            <!--<h2>Cool places in <span>Brooklyn</span></h2>-->
            <% @place_list.each_with_index do |place, index| %>
                    <article class='place-card'>
                        <div class='hello'>
                            <div class='photo-img'>
                                <% if place.photos.any? %>
                                    <%= image_tag(place.photos[0].picture, class: 'photo') %>
                                <% else %>
                                    <%= image_tag('placeholder.png', class: 'photo') %>
                                <% end %>
                            </div>
                        </div>
                        <h4 class='title'><%= "#{index + 1}" %>. <%= link_to place.name, place_path(place), class: 'place-link' %></h4>

                        <%= rating_for place, "custome_design"%>
                        <p class='place-description'>
                            <%= truncate(place.description, length: 156) %> <%= link_to 'Read more', place_path(place), class: 'read-more' %>
                        </p>
                    </article>
            <% end %>
        </section>

        <section class='recommendation col-md-4'>
            <h2>Recommendation</h2>
            <div class='box-1'></div>
            <div class='box-2'></div>
            <div class='box-3'></div>
        </section>
    </div>
</section>
<!-- Places section -->

<%= will_paginate @places %>