<div class='booyah-box-header col-10 offset-1'>
    <h1>Enter Your Place Details</h1>
</div>

<div class="booyah-box col-10 offset-1">
  <%= simple_form_for @place do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <div class='price-range'>
      <%= f.radio_button(:range, "1") %>
      <%= f.radio_button(:range, "2") %>
      <%= f.radio_button(:range, "3") %>
      <%= f.radio_button(:range, "4") %>
    </div>  
    <br />
    <%= f.submit 'Add Place', class: 'btn btn-primary' %>
  <% end %>
</div>