<!DOCTYPE html>
<html>
  <head>
    <title>Nelp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Oswald:700&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/nav' %>
    <% flash.each do |name, msg| %>
      <div class='alert alert-<%= name %>'>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>

  </body>
</html>
